body {
    font-family: 'Red Hat Display', serif;
    font-size: medium;
    margin: 0px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px dotted #d7421f;
    background-color: white;
    border-top: 10px solid #d7421f;

}


nav a {
    font-size: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: black;
    width: 300px;
}

nav a:hover {
    color: #d7421f;
    border-right: 1px solid #d7421f;
    border-left: 1px solid #d7421f;
    font-weight: bold;
}

.logo {
    flex: 1;
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 3;
    justify-content: space-evenly;
}

main {
    margin-top: 200px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

.img_parrafo_1 {
    float: left;
    padding: 4rem;
}

.img_parrafo_2 {
    float: right;
    padding: 4rem;
}

.teike_name {
    color: #d7421f;
    font-weight: bold;
}

.menu_degustacion_title {
    font-size: 8rem;
    font-weight: 50;
}

.menu_degustacion_subtitle {
    font-size: 1.5rem;
    font-weight: 50;
}


.burger_title {
    font-weight: bolder;
}

.responsive_menu {
    display: none;
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.menu_responsive {
    background-color: black;
    color: white;
    padding: 1.4rem 2rem 1.4rem 2rem;
    border-radius: 40px;
    font-size: 1.5rem;
}

.menu_responsive img {
    padding-left: 15px;
}

.menu_number {
    color: #d7421f;
    padding-right: 2%;
    font-weight: bold;
}

@media (max-width: 1110px) {
    .responsive_menu {
        display: flex
    }

    .menu {
        display: none
    }

    .menu_degustacion_title {
        font-size: 6rem;
        font-weight: 50;
        text-align: left;
    }

    .menu_degustacion_subtitle {
        font-size: 1.5rem;
        font-weight: 50;
        text-align: left;
    }

    .menu_degustacion_subtitle:after {
        display:block;
        content:" ";
        width: 80px;
        height: 5px;
        background: #d7421f;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .last_menu_item:after {
        display:block;
        content:" ";
        width: 80px;
        height: 5px;
        background: #d7421f;
        margin-top: 20px;
        margin-bottom: 100px;
     }

    .separator {
        color: #d7421f;
    }
}