body {
    font-family: 'Red Hat Display', serif;
    font-size: medium;
    margin: 0px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 95%;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px dotted #d7421f;
    background-color: white;

}


nav a {
    font-size: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: black;
    width: 300px;
}

nav a:hover {
    color: #d7421f;
    border-right: 1px solid #d7421f;
    border-left: 1px solid #d7421f;
    font-weight: bold;
}

.logo {
    flex: 1;
}

.menu {
    display: flex;
    align-items: center;
    text-align: center;
}

main {
    margin-top: 200px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

.img_parrafo_1 {
    float: left;
    padding: 4rem;
}

.img_parrafo_2 {
    float: right;
    padding: 4rem;
}

.teike_name {
    color: #d7421f;
    font-weight: bold;
}

.menu_degustacion_title {
    font-size: 2rem;
    font-weight: 50;
    color: #d7421f;
}

.menu_degustacion_subtitle {
    font-size: 1.5rem;
    font-weight: 50;
    color: #d7421f;
}


.carta_content {
    text-align: center;
}

.burger_title {
    font-weight: bolder;
}